.campaign-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .campaign-card {
    width: 300px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .highlight {
    font-weight: bold;
    color: #683d4a;
  }
  .campaign-heading {
    text-align: center;
  }
  .no-campaigns-heading {
    text-align: center;
    color: green;
  }
  
  